<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>devfinder | GitHub user search app</title>
  <meta name="description" content="Search for GitHub users with a simple UI. A Frontend Mentor project built by Josh Javier.">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/icons.ejs') %>

  <article class="center">
    <header>
      <h1 class="logo">devfinder</h1>

      <button class="theme-toggle">
        Dark
        <svg class="icon"><use href="#icon-moon" /></svg>
      </button>
    </header>

    <main>
      <% if (locals.error) { %>
        <%= error %>
      <% } else { %>
        <%= user %>
      <% } %>

      Search GitHub username...
      Search

      Joined

      Repos
      Followers
      Following
    </main>
  </article>

</body>
</html>
