<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

  <title>Frontend Mentor | GitHub user search app</title>
</head>
<body>

  <% if (locals.error) { %>
    <%= error %>
  <% } else { %>
    <%= user %>
  <% } %>

  Light
  Dark

  Search GitHub username...
  Search

  Joined

  Repos
  Followers
  Following

</body>
</html>
