<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>devfinder | GitHub user search app</title>
  <meta name="description" content="Search for GitHub users with a simple UI. A Frontend Mentor project built by Josh Javier.">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/icons.ejs') %>

  <main class="center">
    <div class="app-header">
      <h1 class="logo">devfinder</h1>

      <button class="theme-toggle">
        Dark
        <svg class="icon"><use href="#icon-moon" /></svg>
      </button>
    </div>

    <search class="search-bar">
      <svg class="icon"><use href="#icon-search" /></svg>
      <form>
        <input type="search" name="q" placeholder="Search GitHub username…">
        <button type="submit">Search</button>
      </form>
    </search>

    <article class="card">
      <ul class="stats">
        <li class="stat">
          <span class="title">Repos</span>
          <span class="value">8</span>
        </li>
        <li class="stat">
          <span class="title">Followers</span>
          <span class="value">3938</span>
        </li>
        <li class="stat">
          <span class="title">Following</span>
          <span class="value">9</span>
        </li>
      </ul>
    </article>

    <div  style="display: none;">
      <% if (locals.error) { %>
        <%= error %>
      <% } else { %>
        <%= user %>
      <% } %>

      Search GitHub username...
      Search

      Joined

      Repos
      Followers
      Following
    </div>
  </main>

</body>
</html>
