.infoline {
  display: inline-flex;
  align-items: center;
  gap: var(--fluid-13-16);
  font-size: var(--fluid-13-15);

  & .icon {
    font-size: 20px;
  }

  & a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  @nest html:not([data-theme]) & {
    @media (prefers-color-scheme: light) {
      color: var(--color-queen-blue);
    }
  }

  @nest [data-theme="light"] & {
    color: var(--color-queen-blue);
  }
}

.lines {
  list-style: none;
  padding-inline-start: 0;
  margin-block: var(--fluid-24-30) 0;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;

  @media (min-width: 720px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }
}
