.search-bar {
  margin-block: 36px 24px;
  height: var(--fluid-60-69);
  position: relative;
  font-size: var(--fluid-13-18);

  & .icon {
    position: absolute;
    left: var(--fluid-16-32);
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
    font-size: var(--fluid-20-24);
    pointer-events: none;
  }

  & form {
    height: 100%;
  }

  & input[type="search"] {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    padding-inline: var(--fluid-45-80) var(--fluid-118-140);
    background-color: var(--color-sheet);
    color: var(--color-text);
    --color-sheet: var(--color-white);
    font-size: inherit;

    &::placeholder {
      color: var(--color-queen-blue);
      opacity: 1;
    }

    @nest html:not([data-theme]) & {
      @media (prefers-color-scheme: light) {
        box-shadow: var(--card-shadow);
      }

      @media (prefers-color-scheme: dark) {
        --color-sheet: var(--color-yankees-blue);

        &::placeholder {
          color: #fff;
          opacity: 1;
        }
      }
    }

    @nest [data-theme="light"] & {
      box-shadow: var(--card-shadow);
    }

    @nest [data-theme="dark"] & {
      --color-sheet: var(--color-yankees-blue);

      &::placeholder {
        color: #fff;
        opacity: 1;
      }
    }
  }

  & button[type="submit"] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-inline-end: var(--fluid-7-10);
    border-radius: 10px;
    background-color: var(--color-primary);
    color: #fff;
    padding: 13px 24px;
    font-size: var(--fluid-14-16);

    &:hover {
      background-color: #60ABFF;
    }
  }
}
