:root {
  /* Colors */
  --color-azure: #0079FF;
  --color-slate-gray: #697C9A;
  --color-queen-blue: #4B6A9B;
  --color-gunmetal: #2B3442;
  --color-charleston-green: #222731;
  --color-ghost-white: #F6F8FF;
  --color-white: #FEFEFE;
  --color-dark-gunmetal: #141D2F;
  --color-yankees-blue: #1E2A47;
  --color-tart-orange: #F74646;

  --card-shadow: 0 16px 30px -10px hsl(227 46% 51% / 19.86%);

  /* Light Mode */
  --color-sheet: var(--color-ghost-white);
  --color-text: var(--color-charleston-green);
  --color-error: var(--color-tart-orange);
  --color-primary: var(--color-azure);

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    --color-sheet: var(--color-dark-gunmetal);
    --color-text: #fff;
  }

  /* Typography */
  --font-mono: 'Space Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Custom fluid tokens */
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,24—98 */
  --fluid-24-98: clamp(1.5rem, -2.9132rem + 18.8295vw, 6.125rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,60—69 */
  --fluid-60-69: clamp(3.75rem, 3.2133rem + 2.2901vw, 4.3125rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,13—18 */
  --fluid-13-18: clamp(0.8125rem, 0.5143rem + 1.2723vw, 1.125rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,14—16 */
  --fluid-14-16: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,7—10 */
  --fluid-7-10: clamp(0.4375rem, 0.2586rem + 0.7634vw, 0.625rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,16—32 */
  --fluid-16-32: clamp(1rem, 0.0458rem + 4.0712vw, 2rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,20—24 */
  --fluid-20-24: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);
}
